.about-container {
  height: 100vh;
  z-index: 0;
  padding-top: 7.5vh;

  background-color: transparent;
}
@font-face {
  font-family: "Sono";
  src: url("Sono-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 90px;
  height: 80vh;
  width: 90vw;
  border-radius: 0.1em;
  background-color: transparent;
  /* background-image: linear-gradient(360deg,rgba(0, 0, 0, 0.565), rgba(5, 5, 5, 0.486)); */
  font-family: "Kanit", sans-serif;
  color: rgb(0, 0, 0);
}

@font-face {
  font-family: "SonoLight";
  src: url("Sono-SansLight.woff2") format("woff2"); /* Modern Browsers */

  font-style: normal;
  font-weight: light;
  text-rendering: optimizeLegibility;
}

.ml6 {
  font-size: clamp(12px, 3vw, 36px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 80vh;
  width: 80vw;
  /* background-color: #2E422490; */
  background-color:transparent;
  overflow: hidden;
}


.description-list {
  padding:12px;
  position: relative;
  border-radius: 4px;
  border: 3px solid rgb(255, 159, 104);
  box-shadow: 7.5px -7.5px 0 -2px black, 7.5px -7.5px rgb(255, 159, 104),
    15px -15px 0 -2px black, 15px -15px rgb(255, 159, 104);
  transition: box-shadow 1s, top 1s, left 1s;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}
.about{
  background-color: rgba(0, 0, 0, 0.8);
}
.description-list:hover {
  top: -5px;
  left: 5px;
  box-shadow: 0px 0px 0 -2px black, 0px 0px rgb(255, 159, 104),
    0px 0px 0 -2px black, 0px 0px rgb(255, 159, 104);
}
.description {
  position: relative;
  font-family: "Kanit", sans-serif;
  width: 60vw;
  height: auto;
  animation: mymove;
  /* background-color: #F4F8F2; */
  background-color: transparent;
  border-radius: 1.5rem;

  /* box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 /65%); */
}



@keyframes mymove {
  from {
    left: -30px;
    opacity: 0;
    border-radius: 0.5rem;
  }
  to {
    opacity: 1;
  }
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
@media only screen and (min-width: 1400px) {
  .m16 {
    font-size: 2px;
  }
}
@media only screen and (max-width: 600px) {
  .bubble {
    height: 72vh;
    top: 10vh;
  }

  .ml6 .text-wrapper {
    height: 10vh;
    width: 60vw;
  }
  .ml6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: 78vh;
    width: 80vw;
    background-color: transparent;
    overflow: hidden;
  }
  @keyframes mymove {
    from {
      top: -20vh;
      opacity: 0;
      border-radius: 0.5rem;
    }
    to {
      opacity: 1;
    }
  }

  
  
}
