.about-container{
    height:100vh;
   
    padding-top:7.5vh;
    
    background-color: white;
   
}
@font-face {
  font-family: "Sono";
  src: 
         
         url('Sono-ExtraBold.woff2') format('woff2'); /* Modern Browsers */
             font-style: normal;
    font-weight:bold;
    text-rendering: optimizeLegibility;

  
}

.bubble{
    display: flex;
    justify-content: center;
    position: absolute;
    left:5%;
    height:90vh;
    width:90vw;
    border-radius: .1em;
    background-color: #8CABBE;
    background-image: linear-gradient(180deg,#7FB06990, #7FB06990);
    font-family: "Sono";
    font-weight:200;
    color:#F5F5F7;
    font-size: 5em;
}

@font-face {
  font-family: "SonoLight";
  src: 
         url('Sono-SansLight.woff2') format('woff2'); /* Modern Browsers */
       
             font-style: normal;
    font-weight:light;
    text-rendering: optimizeLegibility;

  
}

.ml6 {
  font-weight: 700;
  font-size:clamp(12px, 8vw, 50px);
  
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.ml6 .text-wrapper {
  padding: 0.5em;
  overflow: hidden;
  height:8vw;
  max-height:90px;
  width:80vw;
  max-width:800px;
  border-radius:1rem;
  background-color: rgb(63, 100, 27);
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 35%);
  -webkit-text-size-adjust: none;
  text-size-adjust: auto;
}

.description{
  position: relative;
  padding:0.5em;
  font-family: "SonoLight";
  color:black;
  font-size:clamp(12px, 5vw, 36px);
  display:block;
  overflow: auto;
  width:35vw;
  background-color: rgb(202, 214, 189);
  border-radius:1.5rem;
  left:-10vw; top:15vh; 
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 /65%);
  animation: mymove 4s;
  animation-delay: 0s;
  vertical-align: middle;
}
.text2{
  left:-15vw; top:25vh; 
  background-color: beige;
  
}
.text3{
  left:-10vw; top:35vh;
  background-color: aqua;
}
@keyframes mymove {
  from {left:0px;opacity:0; border-radius:0.5rem}
  to {opacity:1;}
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
@media only screen and (max-width: 600px) {
  .bubble{
    height: 75vh;
  }
  .ml6 {
   
    font-weight: 700;
    font-size: 2.1rem;
  }
  .ml6 .text-wrapper {
    height:10vh;
    width:60vw; 
  }
  .description{
     left:-6vw; top:9vh;
     font-size: 1.5rem;
     height:5vh;
     width:60vw;
     padding-top:10px;
   }
   .text2{
    left:23vw; top:20vh;
   }
   .text3{
    left:-6vw; top:30vh;
   }
}