.home-container{
    height:100vh;
    
    z-index:0;
    background-color: black;
    
  
    padding-bottom:7.5vh;
}
.bubble4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:5%;
    height:80vh;
    width:90vw;
    border-radius: 1em;
    background-color: transparent;
   
    
   
}
.home-container{
    display: grid;
    justify-content: center;
    align-items: center;
}
.hello{
    position: relative;
    font-size: 3rem;
    top:-10vh;
    
}
.portrait{
  position: relative;
  height:35vh;
 
}
.git-logo{
   position: relative;
   display: grid;
   align-content: center;
   justify-content: center;
   z-index:4;
   top:-20vh;
   color:white;
}

.git-img{
    border: 2px solid black;
   border-radius:50%;
   
}
.git-img:hover{
    border: 2px solid white;
}
.git-img:active{
    width:97%;
    border: 3px solid rgb(0, 0, 0);
}
.arrow{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:90vh;

    
    z-index:0;
}
.arrow span{
    display: block;
    width: 80px;
    height: 80px;
    border-top: 2px solid rgba(231, 163, 15, 0.767);
    border-left: 2px solid rgba(206, 124, 31, 0.541);
    transform: rotate(45deg);
    margin: -60px;
    animation: animate 3s infinite;
}
.arrow a{
    position: absolute;
    text-align: center;
   
    color: rgba(250, 234, 214, 0.452);
    
}
.arrow span:nth-child(0){
    animation-delay: -2s;
}
.arrow span:nth-child(1){
    animation-delay: -0s;
}
.arrow span:nth-child(2){
    animation-delay:-6s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(40px,40px);
    }
    50%{
        opacity: .6;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(5px,5px);
    }
}

@media only screen and (max-width: 600px) {
    .bubble4{
      height: 75vh;
    }
    .portrait{
        height:30vh;
    }
    .arrow{
   
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:75vh;
    
        
        z-index:0;
    }
  }
 