.project-container {
  height: 100vh;

  background-color: transparent;

  padding-top: 7.5vh;
}
.bubble2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 12vh;
  height: 80vh;
  width: 90vw;
  border-radius: 0.1em;
  background-color:transparent;
  
}
.gif{
  width:50vw;
  position: relative;
  top:-5vh;
  border: 1px solid rgb(255, 159, 104);
  opacity: 95%;
}
.project{
  font-family: "Kanit", sans-serif;
  
  
  
}
.title{
  color:rgb(255, 255, 255);
  font-size: 1.5em;
  text-align: left;
}
 .description{
 color:rgb(230, 220, 220);
 font-size:1em;
}

@media only screen and (max-width: 600px) {
  .bubble2 {
    height: 75vh;
  }
  .gif{
    width:90vw;
    position: relative;
    
    border: 1px solid rgb(255, 159, 104);
    opacity: 95%;
  }
 
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
