.submit-container{
    height:100vh;
   
    color: black;
    margin:0px;
    
   
    padding-top:13vh;
}
.bubble3{
    position: absolute;
    left:5%;
    height:80vh;
    width:90vw;
    border-radius: 1em;
    background-color: #A4A8D1;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
}