.submit-container{
    height:100vh;
   
    color: rgb(253, 249, 249);
    margin:0px;
    
    background-color:black ;
    padding-top:7.5vh;
}
h2{
  font-family: 'Kanit', sans-serif;
  position: relative;
  top:-30vh;
}
.bubble3{
    position: absolute;
    left:5%;
    height:90vh;
    width:90vw;
    border-radius: 1em;
    background-color: #A4A8D1;
    background-image: linear-gradient(180deg,rgb(0, 0, 0),rgb(0, 0, 0));
    opacity: 1;
    display:flex;
    align-items: center;
    justify-content: center;

}
#contact-form{
    position: absolute;
    height:40vh;
    width:40vw;
}
.label{
  font-size: 1.2rem;
  font-family: 'Kanit', sans-serif;
  
  
}
.form-group{
  width:40vw;
 
}
.form-control{
  width:40vw;
  border-radius:10px;
  padding:1vh;
  padding-left:45px;
  border:2px solid lightgray;
 
}
.email{
   background: url(images/mail.png) no-repeat scroll 7px 7px;
   background-color:white;
}
.message{
  background: url(images/message.png) no-repeat scroll 7px 7px;
  background-color:white;
}
.name{
  background: url(images/name.png) no-repeat scroll 7px 5px;
  background-color:white;
}

.submit {
  background-color: rgb(255, 159, 104);
  border:2px solid black;
  border-radius: .5rem;
  color: black;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40vw;
  height: 5vh;
  font-family: 'Kanit', sans-serif;
}
.submit:disabled {
  opacity: 0.5;
}
.submit:hover{
  background-color:black;
  border: 2px solid rgb(255, 159, 104);
  color:white;
}
@media only screen and (max-width: 600px) {
  .bubble3{
    height: 75vh;
  }
  .submit{
    width:70vw;
    border-radius: 20px;
  }
  #contact-form{
    position: absolute;
    height:40vh;
    width:70vw;
    text-align: center;
}
.label{
 margin-right:5vh;
}
.form-control{
  width:70vw;
  border-radius:10px;
  padding:1vh;
  padding-left:45px;
  border:2px solid lightgray;
 
}
}