
@font-face {
  font-family: "Sono";
  src: 
         url('pages/Sono-SansLight.woff2') format('woff2'), /* Modern Browsers */
         url('pages/Sono-ExtraBold.woff2') format('woff2'); /* Modern Browsers */
             font-style: normal;
    font-weight:bold;
    text-rendering: optimizeLegibility;

  
}

body {
  
  background-color:black;
  color: rgb(233, 104, 104);
  height:100vh;
  
}

.page{
  width:80vw;
  
}


#root{
  width: 100%;
  height: 100%;
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  
}
.ball{
  z-index:0;
  position: absolute;
  
  border-radius:50em;
  top:10vh;
  left:42vw;
  width:15vw;
  height:15vw;
  background-color: rgb(255, 159, 104);
  animation: bounce 5s infinite;
}
@keyframes bounce{
  10%{
    height:15.5vw;
    width:15vw;
    
  }
  30%{
    height:15.5vw;
    width:15vw;;
  }
  50%{
    height:13.5vw;
    width:15.9vw;;
    transform: translateY(60.2vh);
  }
  75%{
    height: 15.5vw;
    width: 14vw;
   
  }
  100%{
    height:15.5vw;
    width:15vw;
    transform: translateY(0vh);
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 5vh;
  background-color:rgb(0, 0, 0);
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 35%);
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: -1rem 3rem -5rem -1rem;
  padding: .7rem;
 
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(126, 117, 117);
  font-family: "Sono",'Roboto', sans-serif;
  font-size:3.2vh;
}

.navbar ul li a:hover {
  color:#F5F5F7;
  
}
#page-wrap{
  background-color: transparent;
  
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  
  position:relative;
  
  /* Scroll Snap */
  scroll-snap-align: center;
}
@media only screen and (max-width: 600px) {
  .navbar ul li {
    margin: -1rem 3rem -5rem -2rem;
    padding: .7rem;
   
  }
  .navbar ul li a {
    text-decoration: none;
    font-size:20px;
  }

}

* {
  box-sizing: border-box;
}

